@import "tailwindcss";

@layer components {
    .screen {
        @apply h-screen w-screen flex flex-col font-sans;
    }

    .btn-blue {
        @apply bg-blue-500 hover:bg-blue-600 text-white rounded-md transition-all ease-linear;
    }

    .input-field {
        @apply text-center rounded-md border-2 border-gray-200;
    }

    .nav-btn {
        @apply flex flex-col bg-transparent text-xs/6 text-center items-center align-middle p-3.5 grow transition-all duration-400;
    }

    .setting-option {
        @apply flex flex-col items-center m-2.5;
    }

    .setting-label {
        @apply text-start font-medium;
    }
}

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-out;
}
